@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar fina e estilizada */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f5f9;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}